<!DOCTYPE html>
<html>
	<head>
		<title>PennBuddies Building Hours</title>
	</head>
	<body>
		<div class="container">
			<header>Campus Building Hours</header>
			<div>
				<b>Huntsman Hall</b>
			</div>
		</div>
	</body>
</html>
