<!DOCTYPE html>
<html>
	<head>
		<title>PennBuddies Building Hours</title>
	</head>
	<body>
		<div class="container">
			<header>Campus Building Hours</header>

			<div class="getBuildings">




				<script>
							 buildings.forEach(building => {
								 document.getElementById("buildings").innerHTML= JSON.stringify(buildings);
									<div> Building Name: document.getElementById("name").innerHTML </div>
									<div> Building Hours: building.hours </div>
									<div> Building Location: building.location </div>
									<div> Building ID: building._id </div>
							});
					 </script>


	 </div>





		</div>
	</body>
</html>
