<!DOCTYPE html>
<html>
	<head>
		<title>PennBuddies Campus Resources Hours</title>
	</head>
	<body>
		<div class="container">
			<header>Campus Resources Hours</header>
			<div>
				<b>These are the campus resources</b>
			</div>
		</div>
	</body>
</html>
