<!DOCTYPE html>
<html>
	<head>
		<title>PennBuddies</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<style>
			.container-fluid {
				padding-right: 0;
				padding-left: 0;
				margin-right: 0;
				margin-left: 0;
			}
			input[type=text] {
				background-color: #ECEEF8;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: 21px;
  			color: #5D75FE;
			}
			input[type=text]::placeholder {
  			color: #5D75FE;
			}
			input[type=password] {
				background-color: #ECEEF8;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-size: 12px;
				line-height: 21px;
  			color: #5D75FE;
			}
			input[type=password]::placeholder {
  			color: #5D75FE;
			}
			.input-group-addon {
				background-color: #ECEEF8;
				color: #5D75FE;
			}
			.submitButton {
  			background-color: #5D75FE;
				border: none;
  			color: white;
				display: inline-block;
				border-radius: 12px;
				text-decoration: none;
				padding: 3px 25px;
				font-family: Roboto;
				font-style: normal;
				font-size: 12px;
				text-align: center;
			}
			.signupButton {
				border: none;
  			color: #5D75FE;
				display: inline-block;
				border-radius: 12px;
				text-decoration: none;
				font-family: Roboto;
				font-style: normal;
				font-size: 12px;
				text-align: center;
			}
			/* Remove the navbar's default margin-bottom and rounded borders */
	    .navbar {
				background-color: #314BC5;
				margin-bottom: 0;
	      border-radius: 0;
				width: 100%;
	    }
			/* change the brand and text color */
			.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
				color: white;
			}
			/* change the link color */
			.navbar-custom .navbar-nav .nav-link {
    		color: #5D75FE;
			}
			/* change the color of active or hovered links */
			.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    		color: #ECEEF8;


			h1 {
  			color: #5D75FE;
			}
	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #314BC5;
	      color: white;
	      padding: 15px;
				position: fixed;
  			bottom: 0;
  			width: 100%;
	    }
	    /* On small screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      .sidenav {
	        height: auto;
	        padding: 15px;
	      }

				#profile-pic {
				    width: 150px;
				    height: 150px;
				}

				#profile-pic img {
				    width: 150px;
				    height: 150px;
				}
	      .row.content {height:auto;}
	    }
			/* CHANGE THIS */

	  </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


	  <script>

      $(document).ready(function() {
        updateProfile();
      })

      function updateProfile() {
        $.get("/getprofile", function(data) {
          var profile = data.profile;
          var string = '<div class="profile-list"><ul class="list-group">';
          string += '<li class="list-group-item"><label for="id">Student ID: ' + profile._id + '</label></li>';
          string += '<li class="list-group-item"><label for="username">Username: ' + profile.username + '</label></li>';
          string += '<li class="list-group-item"><label for="password">Password:</label>';
          string += '<input type="text" class="form-control" name="password" size="20" placeholder="*"></li>';
          string += '<li class="list-group-item"><label for="name">Full Name:</label>';
          string += '<input type="text" class="form-control" name="name" size="20" placeholder="' + profile.name + '"></li>';
          string += '<li class="list-group-item"><label for="phone">Phone Number:</label>';
          string += '<input type="text" class="form-control" name="phone" size="20" placeholder="' + profile.phone + '"></li>';
          string += '<li class="list-group-item"><label for="email">Email:</label>';
          string += '<input type="text" class="form-control" name="email" size="20" placeholder="' + profile.email + '"></li>';
          string += '<li class="list-group-item"><label for="birthdate">Birthdate:</label>';
          string += '<input type="text" class="form-control" name="birthdate" size="20" placeholder="' + profile.birthdate + '"></li>';
          string += '<li class="list-group-item"><label for="height">Height:</label>';
          string += '<input type="text" class="form-control" name="height" size="20" placeholder="' + profile.height + '"></li>';
          string += '<li class="list-group-item"><label for="weight">Weight:</label>';
          string += '<input type="text" class="form-control" name="weight" size="20" placeholder="' + profile.weight + '"></li>';
          string += '<li class="list-group-item"><label for="hair">Hair Color:</label>';
          string += '<input type="text" class="form-control" name="hair" size="20" placeholder="' + profile.hair + '"></li>';
          string += '<li class="list-group-item"><label for="eyes">Eye Color:</label>';
          string += '<input type="text" class="form-control" name="eyes" size="20" placeholder="' + profile.eyes + '"></li>';
					string += '<li class="list-group-item"><label for="gender">Gender:</label>';
          string += '<input type="text" class="form-control" name="gender" size="20" placeholder="' + profile.gender + '"></li>';
          string = string + "</ul></div>";
          $("#profile-block").html(string);
        });
      }
    </script>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-custom">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">PennBuddies</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="/">Home</a></li>
			        <li><a href="/loadprofile">Profile</a></li>
							<li><a href="/loadhistory">History</a></li>
			        <li><a href="/loadresources">Resources</a></li>
							<li><a href="/loadProfilePic">Upload Profile Picture</a></li>
							<li><a href="https://www.facilities.upenn.edu/maps">Campus Map!</a></li>
			      </ul>
						<ul class="nav navbar-nav navbar-right">
							<%if (req.session.currUser != null) { %>
								<p class="navbar-text"><%=req.session.currUser%></p>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
							<% } %>
						</ul>
			    </div>
			  </div>
			</nav>

			<div class="container-fluid text-center">
			  <div class="row content">
					<div class="col-sm-2"></div>
			    <div class="col-sm-8 text-left">
			      <h1>Edit Profile</h1>

						<div class="displayerrormessage">
							<%if (req.query.message != null) { %>
									<div class="alert alert-danger">
										<strong>Danger!</strong> <%= req.query.message %>
									</div>
							<% } %>
						</div>

						<div id="profile-pic">
							 <image id="image-block" src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"eight="300" width="300" />
						</div>

						<div class="checkeditprofile">
							<form method="post" action="/checkeditprofile">
			          <div id="profile-display">
			            <br>
			            <div id="profile-block" onload="updateProfile()">
			            </div>
			          </div>

								<button type="submit" class="submitButton">Submit Changes</button>

							</form>
						</div>



						<br>
						<br>
						<br>
						<br>

					</div>
					<div class="col-sm-2"></div>
			</div>
		</div>
		</div>

		<footer class="container-fluid text-center">
		  <p>Alexandra Tanner, Avni Ahuja, Divya Somayajula, Harshini Thinakaran</p>
		</footer>
	</body>
</html>
