<!DOCTYPE html>
<html>
	<head>
		<title>PennBuddies Homepage</title>
	</head>
	<body>
		<div class="container">
			<header>PennBuddies Homepage</header>
			<div class="buildinghours">
				<form method="get" action="/buildinghours">
					<button type="submit">View Building Hours</button>
				</form>
			</div>

			<div class="campusresourceshours">
				<form method="get" action="/campusresourceshours">
					<button type="submit">View Campus Resources Hours</button>
				</form>
			</div>
		</div>
	</body>
</html>
