<!DOCTYPE html>
<html>
	<head>
		<title>PennBuddies Homepage</title>
	</head>
	<body>
		<div class="container">
			<header>PennBuddies Homepage</header>

			<div>
				<form method="post" action="/checklogin">
					<button type="submit">View Building Hours</button>
					<button type="submit">View Campus Resources Hours</button>
				</form>
			</div>

		</div>
	</body>
</html>
