<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PennBuddies Homepage</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<style>
			.container-fluid {
				padding-right: 0;
				padding-left: 0;
				margin-right: 0;
				margin-left: 0;
			}
			input[type=text] {
				background-color: #ECEEF8;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: 21px;
  			color: #5D75FE;
			}

			input[type=text]::placeholder {
  			color: #5D75FE;
			}

			input[type=password] {
				background-color: #ECEEF8;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-size: 12px;
				line-height: 21px;
  			color: #5D75FE;
			}

			input[type=password]::placeholder {
  			color: #5D75FE;
			}

			.input-group-addon {
				background-color: #ECEEF8;
				color: #5D75FE;
			}

			.submitButton {
  			background-color: #5D75FE;
				border: none;
  			color: white;
				display: inline-block;
				border-radius: 12px;
				text-decoration: none;
				padding: 3px 25px;
				font-family: Roboto;
				font-style: normal;
				font-size: 12px;
				text-align: center;
			}

			.signupButton {
				border: none;
  			color: #5D75FE;
				display: inline-block;
				border-radius: 12px;
				text-decoration: none;
				font-family: Roboto;
				font-style: normal;
				font-size: 12px;
				text-align: center;
			}

			/* Remove the navbar's default margin-bottom and rounded borders */
	    .navbar {
				background-color: #314BC5;
				margin-bottom: 0;
	      border-radius: 0;
				width: 100%;
	    }

			/* change the brand and text color */
			.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
				color: white;
			}

			/* change the link color */
			.navbar-custom .navbar-nav .nav-link {
    		color: #5D75FE;
			}

			/* change the color of active or hovered links */
			.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    		color: #ECEEF8;
			}

			h1 {
  			color: #5D75FE;
			}

	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #314BC5;
	      color: white;
	      padding: 15px;
				position: fixed;
  			bottom: 0;
  			width: 100%;
	    }
	    /* On small screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      .sidenav {
	        height: auto;
	        padding: 15px;
	      }
	      .row.content {height:auto;}
	    }
	  </style>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script>
      $(document).ready(function() {
        updateFriends();
				updateIncomingRequests();
				updateOutgoingRequests();
				updateSuggestions();
      })
      function updateFriends() {
        $.get("/getfriends", function(data) {
          var friends = data.profile.friends;
          var string = '<div class="friends-list"><ul class="list-group">';
					for (var i = 0; i < friends.length; i++) {
						string += '<li class="list-group-item">' + friends[i] + '</li>';
					}
					if (friends.length == 0) {
						string += '<li class="list-group-item">No Friends</li>';
					}
          string = string + "</ul></div>";
          $("#friends-block").html(string);
					window.setTimeout(updateFriends, 10000);
        });
      }
			function updateIncomingRequests() {
        $.get("/getrequests", function(data) {
          var received = data.received;
					var friends = data.friends;
					var count = 0;
          var string = '<div class="incoming-requests-list"><ul class="list-group">';
					for (var i = 0; i < received.length; i++) {
						var alreadyFriends = false;
						for (var j = 0; j < friends.length; j++) {
							if (friends[j] == received[i]) {
								alreadyFriends = true;
							}
						}
						if (!alreadyFriends) {
							string += '<li class="list-group-item">' + received[i] + '</li>';
							count++;
						}
					}
					if (count == 0) {
						string += '<li class="list-group-item">No Incoming Requests</li>';
					}
          string = string + "</ul></div>";
          $("#incoming-requests-block").html(string);
					window.setTimeout(updateIncomingRequests, 10000);
        });
      }
			function updateOutgoingRequests() {
        $.get("/getrequests", function(data) {
          var sent = data.sent;
					var friends = data.friends;
					var count = 0;
          var string = '<div class="outgoing-requests-list"><ul class="list-group">';
					for (var i = 0; i < sent.length; i++) {
						var alreadyFriends = false;
						for (var j = 0; j < friends.length; j++) {
							if (friends[j] == sent[i]) {
								alreadyFriends = true;
							}
						}
						if (!alreadyFriends) {
							string += '<li class="list-group-item">' + sent[i] + '</li>';
							count++;
						}
					}
					if (count == 0) {
						string += '<li class="list-group-item">No Incoming Requests</li>';
					}
          string = string + "</ul></div>";
          $("#outgoing-requests-block").html(string);
					window.setTimeout(updateOutgoingRequests, 10000);
        });
      }
			function updateSuggestions() {
        $.get("/getsuggestions", function(data) {
					var suggestions = data.suggestions;
					console.log("suggestions.length: " + suggestions.length);
          var string = '<div class="suggestions-list"><ul class="list-group">';
					for (var i = 0; i < suggestions.length; i++) {
						string += '<li class="list-group-item">' + suggestions[i] + '</li>';
					}
					if (suggestions.length == 0) {
						string += '<li class="list-group-item">No Friend Suggestions</li>';
					}
          string = string + "</ul></div>";
          $("#suggestions-block").html(string);
					window.setTimeout(updateSuggestions, 10000);
        });
      }
    </script>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-custom">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">PennBuddies</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="/">Home</a></li>
			        <li><a href="/loadprofile">Profile</a></li>
							<li><a href="/loadhistory">History</a></li>
			        <li><a href="/loadresources">Resources</a></li>
							<li><a href="https://www.facilities.upenn.edu/maps">Campus Map!</a></li>
			      </ul>
						<ul class="nav navbar-nav navbar-right">
							<%if (req.session.currUser != null) { %>
								<p class="navbar-text"><%=req.session.currUser%></p>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
							<% } %>
						</ul>
			    </div>
			  </div>
			</nav>

			<div class="container-fluid text-center">
			  <div class="row content">
					<div class="col-sm-2"></div>
			    <div class="col-sm-8 text-left">
			      <h1>Welcome!</h1>

						<div class="displayerrormessage">
							<%if (req.query.message != null) { %>
									<div class="alert alert-danger">
										<strong>Danger!</strong> <%= req.query.message %>
									</div>
							<% } %>
						</div>

						<div class="searchuser">
							<form method="post" action="/searchuser">
								<div class="form-group">
									<h4>Search User:</h4>
  								<input type="text" name="username" size="20" placeholder="Username" class="form-control" id="add">
									<button type="submit" class="submitButton">Search</button>
								</div>
							</form>
						</div>

						<div id="friends-display">
							<br>
							<h4>Friends:</h4>
							<div id="friends-block" onload="updateFriends()">
							</div>
						</div>

						<div id="incoming-requests-display">
							<br>
							<h4>Incoming Friend Requests:</h4>
							<div id="incoming-requests-block" onload="updateIncomingRequests()">
							</div>
						</div>

						<div id="outgoing-requests-display">
							<br>
							<h4>Outgoing Friend Requests:</h4>
							<div id="outgoing-requests-block" onload="updateOutgoingRequests()">
							</div>
						</div>

						<div id="suggestions-display">
							<br>
							<h4>Friend Suggestions:</h4>
							<div id="suggestions-block" onload="updateSuggestions()">
							</div>
						</div>

						<br>
						<br>
						<br>

					</div>
					<div class="col-sm-2"></div>
			</div>
		</div>
		</div>

		<footer class="container-fluid text-center">
		  <p>Alexandra Tanner, Avni Ahuja, Divya Somayajula, Harshini Thinakaran</p>
		</footer>
	</body>
</html>
