<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PennBuddies</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<style>
			.container-fluid {
				padding-right: 0;
				padding-left: 0;
				margin-right: 0;
				margin-left: 0;
			}

			input[type=text] {
				background-color: #ECEEF8;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: 21px;
  			color: #5D75FE;
			}

			input[type=text]::placeholder {
  			color: #5D75FE;
			}

			input[type=password] {
				background-color: #ECEEF8;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-size: 12px;
				line-height: 21px;
  			color: #5D75FE;
			}

			input[type=password]::placeholder {
  			color: #5D75FE;
			}

			.input-group-addon {
				background-color: #ECEEF8;
				color: #5D75FE;
			}

			.submitButton {
  			background-color: #5D75FE;
				border: none;
  			color: white;
				display: inline-block;
				border-radius: 12px;
				text-decoration: none;
				padding: 3px 25px;
				font-family: Roboto;
				font-style: normal;
				font-size: 12px;
				text-align: center;
			}

			.signupButton {
				border: none;
  			color: #5D75FE;
				display: inline-block;
				border-radius: 12px;
				text-decoration: none;
				font-family: Roboto;
				font-style: normal;
				font-size: 12px;
				text-align: center;
			}

			/* Remove the navbar's default margin-bottom and rounded borders */
	    .navbar {
				background-color: #314BC5;
				margin-bottom: 0;
	      border-radius: 0;
				width: 100%;
	    }

			/* change the brand and text color */
			.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
				color: white;
			}

			/* change the link color */
			.navbar-custom .navbar-nav .nav-link {
    		color: #5D75FE;
			}

			/* change the color of active or hovered links */
			.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    		color: #ECEEF8;
			}

			h1 {
  			color: #5D75FE;
			}

	    /* Set black background color, white text and some padding */
	    footer {
	      background-color: #314BC5;
	      color: white;
	      padding: 15px;
				position: fixed;
  			bottom: 0;
  			width: 100%;
	    }

	    /* On small screens, set height to 'auto' for sidenav and grid */
	    @media screen and (max-width: 767px) {
	      .sidenav {
	        height: auto;
	        padding: 15px;
	      }
	      .row.content {height:auto;}
	    }
	  </style>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-custom">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">PennBuddies</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li class="active"><a class="nav-link" href="/">Home</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>

			<div class="container-fluid text-center">
			  <div class="row content">
					<div class="col-sm-2"></div>
					<div class="col-sm-8 text-left">
			      <h1>PennBuddies</h1>

						<div class="displayerrormessage">
							<%if (req.query.message != null) { %>
									<div class="alert alert-danger">
										<strong>Danger!</strong> <%= req.query.message %>
									</div>
							<% } %>
						</div>

						<div class="checklogin">
							<form method="post" action="/checklogin">
								<div class="form-group">
									<div class="input-group">
		    						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    								<input id="username" type="text" class="form-control" name="username" placeholder="Username">
  								</div>
  								<div class="input-group">
    								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    								<input id="password" type="password" class="form-control" name="password" placeholder="Password">
  								</div>
									<button type="submit" class="submitButton">Login</button>
								</div>
							</form>
						</div>

						<div class="signup">
							<form method="get" action="/signup">
								<button type="submit" class="signupButton">Don't have an account? Register -></button>
							</form>
						</div>
			    </div>
					<div class="col-sm-2"></div>
			  </div>
			</div>
		</div>

		<footer class="container-fluid text-center">
		  <p>Alexandra Tanner, Avni Ahuja, Divya Somayajula, Harshini Thinakaran</p>
		</footer>
	</body>
</html>
